<!-- <p>home works!</p> -->
<div class="container" >
    <table class="table">
        <thead>
            <th>S.No</th>
            <th>Name</th>
            <th>Age</th>
            <th>Marks%</th>
            <th>Status</th>
        </thead>
        <tbody>
            <tr>
                <td data-label="S.No">1</td>
                <td data-label="Name">Leena</td>
                <td data-label="Age">26</td>
                <td data-label="Marks%">99%</td>
                <td data-label="Status">Passed</td>
            </tr>
            <tr>
                <td data-label="S.No">2</td>
                <td data-label="Name">Omar</td>
                <td data-label="Age">27</td>
                <td data-label="Marks%">97%</td>
                <td data-label="Status">Passed</td>
            </tr>
            <tr>
                <td data-label="S.No">3</td>
                <td data-label="Name">Aliana</td>
                <td data-label="Age">30</td>
                <td data-label="Marks%">30%</td>
                <td data-label="Status">Failed</td>
            </tr>
            <tr>
                <td data-label="S.No">4</td>
                <td data-label="Name">Kareem</td>
                <td data-label="Age">32</td>
                <td data-label="Marks%">90%</td>
                <td data-label="Status">Passed</td>
            </tr>
        </tbody>
    </table>
</div>