.master_layout {
  display: flex;
  justify-content: space-between;
  background-color: indianred;

  .system_control {
    width: 80px;
    // background-color: #11101d;
    // opacity: 0.3;
  }

  .system_content {
    min-height: 100vh;
    width: calc(100% - 240px);
    background-color: khaki;
  }
}


// .master_layout {
//   .system_header {
//     position: fixed;
//     top: 0;
//     right: 0;
//     width: 80vw;
//     height: 4rem;
//     background-color: thistle;
//     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
//     border-radius: 1rem;
//   }
//   .system_control {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 240px;
//     height: 100vh;
//   }
//   .system_content {
//     background-color: #fff;
//     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
//     border-radius: 1rem;
//     min-height: 80vh;
//     width: 80%;
//     margin: 6rem 18rem;
//     padding: 2rem;
//   }
// }
