.master_layout {
  display: flex;
  justify-content: space-between;
  background-color: indianred;

  .system_control {
    background-color: hsl(245, 29%, 9%);
  }

  .system_content {
    min-height: 100vh;
    width: 100%;
    background-color: khaki;
    .outlet {
      margin: auto;
      width: calc(100% - 40px);
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }
}
