<div class="sidebar">
    <div class="logo_content">
        <div class="logo">
            <i class="fas fa-blog"></i>
            <div class="logo_name">BassanTarek</div>
        </div>
        <i class="fas fa-bars" id="btn"></i>
    </div>
    <ul class="nav_list">
        <li>
            <a href="#">
                <i class="fas fa-th"></i>
                <span class="links-name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-user"></i>
                <span class="links-name">User</span>
            </a>
            <span class="tooltip">User</span>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-comments"></i>
                <span class="links-name">Messages</span>
            </a>
            <span class="tooltip">Messages</span>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-chart-pie"></i>
                <span class="links-name">Analytics</span>
            </a>
            <span class="tooltip">Analytics</span>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-file"></i>
                <span class="links-name">Files Manager</span>
            </a>
            <span class="tooltip">Files Manager</span>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-cart-plus"></i>
                <span class="links-name">Order</span>
            </a>
            <span class="tooltip">Order</span>
        </li>
        <li>
            <a href="#">
                <i class="far fa-heart"></i>
                <span class="links-name">Saved</span>
            </a>
            <span class="tooltip">Saved</span>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-cogs"></i>
                <span class="links-name">Settings</span>
            </a>
            <span class="tooltip">Settings</span>
        </li>
    </ul>
</div>