.header {
  position: fixed;
  right: 0;
  height: 80px;
  // width: calc(100% - 100px);
  width: calc(95vw - 80px);
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  transition: all 0.4s ease-in-out;
  margin-top: 1rem;
  border-radius: 6px;
  &.active {
      width: calc(98vw - 280px);
  }
}
